#filename {
    height: 15px;
    width : 85%;
}

#foldername {
    height: 15px;
    width : 95%;
}

#dmsRenameDocument .validationBox {
  margin-top: 5px !important;
  height: 22px;
}

#dmsRenameDocument fieldset {
    padding: 15px 0px !important;
}

.renameTextField{
    width: 79%;
    margin: 6px 0 13px 0;
}
.error{
    color: red;
}
